{% extends "layout.html" %}

{% block title %}
    Top up
{% endblock %}

{% block main %}
    <form action="/topup" method="post">
        <div class="form-group">
            <input autocomplete="on" autofocus class="form-control" name="money" placeholder="Top-up ammount" type="number" min="0"/>
        </div>
        <button class="btn btn-primary" type="submit">Top up</button>
    </form>

    <br>

    <table class="table table-sm" >
    <thead> <b> Top-up history </b>  </thead>
    <tbody>

        <tr>
            <th> Amount </th>
            <th> Transacted </th>
        </tr>

        {% for record in records %}
        <tr>
            <td>  {{record["amount"]}}  </td>
            <td>  {{record["datetime"]}}  </td>
        </tr>
        {% endfor %}

    </tbody>
    </table>


{% endblock %}
